:root {
    --color: #5A5A5A;
    --color-accent: #D5AA7B;
    --text-color: white;

    /* Sprite dimensions */
    --sprite-viewfinder-width: 872px;
    --sprite-viewfinder-height: 581px;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Positioning */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center.x {
    align-items: unset;
}

.center.y {
    justify-content: unset;
}

/* Content */

main {
    --box-padding: 40px;
    --height: 800px;
    
    margin: auto;
    width: 100%;
    max-width: 1300px;
    min-height: var(--height);
    max-height: var(--height);

    box-sizing: border-box;
    padding: 40px;
    background: white;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr .8fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

main > div {
    width: 100%;
    height: 100%;
    position: relative;
}

main > div > * {
    position: absolute;
}

/* --- */

#viewfinder {
    width: 100%;
    height: 100%;
}

#viewfinder .item {
    position: absolute;
    background: url("../img/sprites_c872.png");
    background-size: var(--sprite-viewfinder-width);
    width: var(--sprite-viewfinder-width);
    height: var(--sprite-viewfinder-height);
}

/* Content > Spritesheet offsets */

#viewfinder .item:nth-child(1) { background-position-y: calc(var(--sprite-viewfinder-height) * -1); }
#viewfinder .item:nth-child(2) { background-position-y: calc(var(--sprite-viewfinder-height) * -2); }
#viewfinder .item:nth-child(3) { background-position-y: calc(var(--sprite-viewfinder-height) * -3); }
#viewfinder .item:nth-child(4) { background-position-y: calc(var(--sprite-viewfinder-height) * -4); }
#viewfinder .item:nth-child(5) { background-position-y: calc(var(--sprite-viewfinder-height) * -5); }
#viewfinder .item:nth-child(6) { background-position-y: calc(var(--sprite-viewfinder-height) * -6); }
#viewfinder .item:nth-child(7) { background-position-y: calc(var(--sprite-viewfinder-height) * -7); }
#viewfinder .item:nth-child(8) { background-position-y: calc(var(--sprite-viewfinder-height) * -8); }
#viewfinder .item:nth-child(9) { background-position-y: calc(var(--sprite-viewfinder-height) * -9); }
#viewfinder .item:nth-child(10) { background-position-y: calc(var(--sprite-viewfinder-height) * -10); }
#viewfinder .item:nth-child(11) { background-position-y: calc(var(--sprite-viewfinder-height) * -11); }
#viewfinder .item:nth-child(12) { background-position-y: calc(var(--sprite-viewfinder-height) * -12); }
#viewfinder .item:nth-child(13) { background-position-y: calc(var(--sprite-viewfinder-height) * -13); }
#viewfinder .item:nth-child(14) { background-position-y: calc(var(--sprite-viewfinder-height) * -14); }
#viewfinder .item:nth-child(15) { background-position-y: calc(var(--sprite-viewfinder-height) * -15); }
#viewfinder .item:nth-child(16) { background-position-y: calc(var(--sprite-viewfinder-height) * -16); }
#viewfinder .item:nth-child(17) { background-position-y: calc(var(--sprite-viewfinder-height) * -17); }
#viewfinder .item:nth-child(18) { background-position-y: calc(var(--sprite-viewfinder-height) * -18); }
#viewfinder .item:nth-child(19) { background-position-y: calc(var(--sprite-viewfinder-height) * -19); }
#viewfinder .item:nth-child(20) { background-position-y: calc(var(--sprite-viewfinder-height) * -20); }

/* --- */

#configure {
    width: 100%;
    height: 100%;
    background: #F3F3F3;
    border-radius: 20px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#configure > div {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: calc(var(--box-padding) / 2);
}

#configure > div:first-child {
    align-items: flex-start;
    background: #F8F8F8;
}

#configure > div:first-child {
    align-items: flex-end;
}

#configure .categories {
    width: 100%;
    height: 10px;
}

#select {
    --pages: 4;
    --page-offset: (100% / var(--pages));

    transition: 500ms transform;
    padding: 0 !important;
    width: calc(var(--pages) * 100%);
    height: 100%;
    background: green;

    display: grid;
    grid-template-columns: repeat(var(--pages), 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#select .page {
    transition: 500ms opacity, 500ms transform;
    position: relative;
    width: 100%;
    height: 100%;
    background: red;
    opacity: .7;
    transform: scale(.7);
}

#select[data="1"] { transform: translateX(calc((var(--page-offset) * 0) * -1)); }
#select[data="2"] { transform: translateX(calc((var(--page-offset) * 1) * -1)); }
#select[data="3"] { transform: translateX(calc((var(--page-offset) * 2) * -1)); }
#select[data="4"] { transform: translateX(calc((var(--page-offset) * 3) * -1)); }
#select[data="5"] { transform: translateX(calc((var(--page-offset) * 4) * -1)); }
#select[data="6"] { transform: translateX(calc((var(--page-offset) * 5) * -1)); }
#select[data="7"] { transform: translateX(calc((var(--page-offset) * 6) * -1)); }
#select[data="8"] { transform: translateX(calc((var(--page-offset) * 7) * -1)); }
#select[data="9"] { transform: translateX(calc((var(--page-offset) * 8) * -1)); }
#select[data="10"] { transform: translateX(calc((var(--page-offset) * 9) * -1)); }
#select[data="11"] { transform: translateX(calc((var(--page-offset) * 10) * -1)); }
#select[data="12"] { transform: translateX(calc((var(--page-offset) * 11) * -1)); }
#select[data="13"] { transform: translateX(calc((var(--page-offset) * 12) * -1)); }
#select[data="14"] { transform: translateX(calc((var(--page-offset) * 13) * -1)); }
#select[data="15"] { transform: translateX(calc((var(--page-offset) * 14) * -1)); }
#select[data="16"] { transform: translateX(calc((var(--page-offset) * 15) * -1)); }
#select[data="17"] { transform: translateX(calc((var(--page-offset) * 16) * -1)); }
#select[data="18"] { transform: translateX(calc((var(--page-offset) * 17) * -1)); }
#select[data="19"] { transform: translateX(calc((var(--page-offset) * 18) * -1)); }
#select[data="20"] { transform: translateX(calc((var(--page-offset) * 19) * -1)); }

#select[data="1"] .page:nth-child(1),
#select[data="2"] .page:nth-child(2),
#select[data="3"] .page:nth-child(3),
#select[data="4"] .page:nth-child(4),
#select[data="5"] .page:nth-child(5),
#select[data="6"] .page:nth-child(6),
#select[data="7"] .page:nth-child(7),
#select[data="8"] .page:nth-child(8),
#select[data="9"] .page:nth-child(9),
#select[data="10"] .page:nth-child(10),
#select[data="11"] .page:nth-child(11),
#select[data="12"] .page:nth-child(12),
#select[data="13"] .page:nth-child(13),
#select[data="14"] .page:nth-child(14),
#select[data="15"] .page:nth-child(15),
#select[data="16"] .page:nth-child(16),
#select[data="17"] .page:nth-child(17),
#select[data="18"] .page:nth-child(18),
#select[data="19"] .page:nth-child(19),
#select[data="20"] .page:nth-child(20) {
    opacity: 1;
    transform: scale(1);
}

/* Content > .loading */

.loading {
    border-radius: 100%;
    z-index: 10;
}

/* Content > .selected */

.selected path:nth-child(2) {

    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;

    fill: rgba(255,255,255,.8);
    stroke: var(--color);
    stroke-width: 3px;
    opacity: 0;

    stroke-dasharray: 10;
    stroke-dashoffset: 0;

    animation: selected 30s infinite linear;
    animation-delay: 100ms;

}

.selected path:nth-child(3) {

    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;

    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -ms-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;

    fill: var(--color);
    fill-rule: evenodd;
    opacity: 0;

}

.selected path:nth-child(2) { opacity: 1; }

@-webkit-keyframes selected { 
    to { 
        stroke-dashoffset: 641.98; 
    } 
}

@keyframes selected { 
    to { 
        stroke-dashoffset: 641.98; 
    } 
}

.selected path:nth-child(3) { 
    
    opacity: .7; 

    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms; 

}

/* Media Queries */

@media screen and (min-width: 1300px) {

    html,
    body {
        background: #eee;
    }

}

@media screen and (max-width: 872px) {

    :root {
        --sprite-viewfinder-width: 436px;
        --sprite-viewfinder-height: 240px; 
    }

    #viewfinder .item {
        background: url("../img/sprites_c436.png");
    }

}